<div class="uk-vertical-align uk-text-center uk-margin-large-top">

	<div
		class="uk-vertical-align-middle uk-text-center"
		style="width: 350px;">

		<div *ngIf="errorMessage !== null" class="uk-alert uk-alert-danger">
			{{errorMessage}}<a href="" class="uk-alert-close uk-close"></a>
		</div>
		
		<form class="uk-panel-box uk-form uk-form-stacked" 
			[ngFormModel]="loginForm" (ngSubmit)="login()" novalidate>
			<div class="uk-form-row uk-text-left">
				<span class="uk-text-primary">Email </span><span class="uk-text-danger uk-text-bold uk-text-large">*</span>			
				<input class="uk-width-1-1 uk-form-large" type="text"
					required ngControl="email">
			</div>
			<div class="uk-form-row uk-text-left">
				<span class="uk-text-primary">Senha </span><span class="uk-text-danger uk-text-bold uk-text-large">*</span>
				<input class="uk-width-1-1 uk-form-large" type="password"
					required ngControl="password">
			</div>
			<div class="uk-form-row">
				<button type="submit" 
					class="uk-width-1-1 uk-button uk-button-success uk-button-large">Entrar</button>
			</div>
			<div class="uk-form-row uk-text-small">
				<a class="uk-float-right uk-link uk-link-muted" href="#">Esqueci
					minha senha</a>
			</div>			
		</form>
		
	</div>
</div>